@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap');

body {
    height: 100vh;
    align-items: center;
    font-family: "League Spartan";
    display: flex;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 1vw;
    background-color: #f5f5f5;
}

nav{
    height: 88vh;
    width: 7vw;
    background-color: #8666b9be;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 0 2vw;
    border-radius: 25px;
}

main{
    height: 80vh;

}

h2, h3{
    font-size: 32px;
    color: #6F40BB;
    margin: 0;
    padding: 0;
}
header{
    display: flex;
    width: 80vw;
    align-items: start;
    justify-content: space-between;
    height: 10vh;
}

.alignner{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 45%;
    width: 100%;
    flex-direction: column;
}

.option img, .option-ativo img{
    width: 70%;
    height: 60%;
}
.option, .option-ativo{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 10vh;
    width: 10vh;
    border-radius: 15px;
    transition: 300ms;
}

.option-ativo, .option:hover{
    background-color: #552c97ce;
    cursor: pointer;
}

.pages{
    display: flex;
    gap: 1.7vw;
}
.page, .page-ativo{
    font-size: 15px;
    font-weight: bold;
    color: white;
    display: flex;
    align-items: end;
    justify-content: center;
    background-color: #C2ACE5;
    padding: 0.7vw 1.5vw;
    gap: 0.6vw;
    border-radius: 12px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    transition: 300ms;
}

.page:hover{
    background-color: #BE6A99;
    cursor: pointer;
}
.page img, .page-ativo img{
    height: 2.5vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.page-ativo{
    background-color: #BE6A99;
}

p{
    padding: 0;
    margin: 0;
}

.content{
    margin-top: 6vh;
    display: flex;
    flex-direction: column;
    gap: 3vh;
}

.cards{
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;
    gap: 2vh;
}
.card{
    padding: 1.5vw;
    gap: 1vh;
    width: 76vw;
    background-color: #E7E7E7;
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;
    border-radius: 25px;
    color: #918894;
    cursor: pointer;
}

.content h3{
    font-size: 24px;
}

span{
    font-weight: bold;
}

.separador{
    height: .5px;
    width: 50%;
    background-color: white;
}

#logout{
    position: absolute;
    bottom: 50px;
}
a{
    text-decoration: none;
}

.div-full{
    display: flex;
    flex-direction: column;
    width: 80vw;
    gap: 35px;
}

.engajamento{
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 35px;
}

.publicacao{
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.box-titulo{
    background-color: #E7E7E7;
    align-items: center;
    padding: 10px;
    border-radius: 30px;
    color:#8666B9;
    font-weight: 700;
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    font-size: 16px;
}

.caixa{
    background-color: #E7E7E7;
    padding: 20px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    gap: 30px;
}

.div-pub{
    width: 70%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    text-align: start;
}

.titulo-post{
    font-weight: 700;
    color: #8666B9;
}

.text-post{
    color: #605E60;
}

.kpis{
    display: flex;
    align-items: center;
    justify-content: space-around;
    text-align: center;
}

.graficos{
    color: #C662E7;
    font-weight: 600;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.circulo{
    color: #000000;
    font-size: 30px;
    font-weight: 700;
}