@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap');

body {
    margin: 0;
    padding: 30px;
    font-family: 'Arial', sans-serif;
    display: flex;
    font-family: "league spartan", "sans serif";
}

    /*Sidebar*/

.sidebar {
    width: 70px;
    background-color: #b28cd9;
    padding: 5px;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    height: 85vh;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    border-radius: 25px;
}

.icon-barra{
    height: 30px;
}

.icon-chat{
    height: 25px;
}

.menu {
    list-style-type: none;
    padding: 0;
}


.menu-item {
    display: block;
    color: white;
    text-decoration: none;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
    transition: background-color 0.3s;
}

.menu-item.active, .menu-item:hover {
    background-color: #9c6bc7;
}


    /* Início */

.botao-inicio{
    height: 30px;
    border-radius: 20px;
    border: none;
    width: 170px;
    font-size: 14px;
    transition: background-color 0.3s;
}

.buttons-div{
    display: flex;
    gap: 20px;
}

.container-principal{
    display: flex;
    flex-direction: column;
    padding-left: 50px;
    gap: 15px;
}

#button1 {
    background-color: #BE6A99;
    color: white;
    font-family: "league spartan", "sans serif";
    font-weight: 700;
    cursor: pointer;
}

#button2 {
    background-color: #C2ACE5;
    color: white;
    font-family: "league spartan", "sans serif";
    font-weight: 700;
    cursor: pointer;
}

#button3 {
    background-color: #C2ACE5;
    color: white;
    font-family: "league spartan", "sans serif";
    font-weight: 700;
    cursor: pointer;
}

#button2:hover, #button3:hover {
    background-color: #BE6A99;
}

.titulo{
    color: #6F40BB;
}

.subtitulo{
    margin-top: 20px ;
    color: #A037C2;
    font-size: 22px;
    font-weight: 700;
}

.modelo-existente{
    width: 75vw;
    background-color: #E7E7E7;
    padding: 15px;
    border-radius: 20px;
    color: #918894;
}

.modelo-titulo{
    font-weight: 700;
}